In [105]:
import os
import fileinput as fi
import glob
import moviepy.editor as mp

os.chdir(path=r"D:\02_batch_2")
print("Current Working Directory " , os.getcwd())

Current Working Directory  D:\02_batch_2

In [126]:
df_dirname = []
for folder in sorted(os.listdir(os.getcwd())):
    df_dirname.append((folder))

df_dirname = pd.DataFrame(df_dirname, columns=['Folder'])
df_dirname.sort_values(by='Folder',inplace=True)
df_dirname

                         Folder
0             37_degrees_series
1                   Almajd_kids
2        Ba3d_altes3een_Podcast
3                           C4N
4                Dupamicaffeine
5                 Mojtm3_Ethraa
6                 Naif_aljaweni
7   Sando9_aswad_turki_alfaisal
8                Shabab_Ela3mal
9       Update_NewMedia_Podcast
10             abdullah_Alabdli
11                   abo_hamdan
12                      ajaweed
13                aljwab_alkafi
14                       almsar
15                      altamas
16                        aqdar
17                        arshz
18                    assrarahm
19                  belmo5taser
20                        brief
21               bronze_stories
22             buraik_alshalawi
23                      ertecaz
24                       fenjan
25                ghadah_aleidi
26                       ghaima
27                         heel
28                history_yaman
29                          hrm
30                   jaddo_saif
31                       jawlan
32                  khalaf_zone
33            lail_nahar_series
34             liqaa_wali_alahd
35                     m3_3adel
36           mamlakat_althqafat
37                 markaz_banon
38                  min_alsifer
39                         mo7a
40         mohammed_almutairi_1
41         mohammed_almutairi_2
42                          nas
43                podcast_elham
44               podcast_qissah
45               podcast_saraha
46                 podcast_taqa
47                      qeninah
48               qisas_najdeyat
49                    qisas_r3b
50                      radio_9
51         sarah_alabedulkareem
52              sawalf_business
53                       shamaa
54                       sharek
55  things_your_doctor_tell_you
56                under_the_hat
57            universty_leaders
58                   wadi_3bqar
59            zainab_almatroodi

### Arabic Annotation collection

In [135]:
import pandas as pd
import glob

li = []

#df_dirname = ['37_degrees_series','abdullah_Alabdli']

for i,dname in enumerate(df_dirname['Folder']):
    path = r'D:/02_batch_2/'
    files = glob.glob(path + dname + '/*.txt')
    print(dname)
    for i,f in enumerate(files):
        stock = os.path.basename(f)

        temp_df = pd.read_csv(f, delimiter="\t")

        temp_df['filename'] = stock
        temp_df['filepath'] = path + dname + '/'
        temp_df['duration'] = temp_df.stop-temp_df.start

        temp_df['filename'] = temp_df['filename'].replace('.txt', '.wav', regex=True)

        li.append(temp_df)

        print(f'Successfully created dataframe for {dname} {stock} {nextFileName} with shape {temp_df.shape}')

df = pd.concat(li, axis=0)
print(df.shape)
df.head()

37_degrees_series
Successfully created dataframe for 37_degrees_series 37_degrees_series_0-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (49, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_0-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (24, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_0-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (51, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_0-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (44, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_0-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (57, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_0-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (27, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_0-6.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (50, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_1-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (71, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_1-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (40, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_1-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (42, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_1-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (30, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_1-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (59, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_1-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (11, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_1-6.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (39, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_10-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (1, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_10-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (33, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_10-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (43, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_10-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (41, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_10-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (28, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_10-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (38, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_10-6.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (19, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_11-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (39, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_11-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (46, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_11-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (34, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_11-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (49, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_11-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (35, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_11-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (49, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_11-6.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (20, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (30, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (58, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-10.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (60, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-11.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (54, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-12.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (33, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (37, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (41, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (51, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (36, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-6.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (35, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-7.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (80, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-8.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (28, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_12-9.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (47, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_13-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (54, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_13-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (46, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_13-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (39, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_13-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (68, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_13-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (35, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_13-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (28, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_14-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (2, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_14-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (80, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_14-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (76, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_14-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (69, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_14-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (55, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_14-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (83, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_15-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (75, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_15-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (79, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_15-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (124, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_15-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (27, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_15-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (71, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_16-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (48, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_16-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (47, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_16-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (34, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_16-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (74, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_16-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (72, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_16-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (33, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_17-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (60, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_17-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (49, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_17-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (76, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_17-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (48, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_17-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (50, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_17-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (40, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_18-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (27, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_18-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (79, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_18-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (63, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_18-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (81, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_18-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (60, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_18-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (38, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_19-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (60, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_19-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (27, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_19-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (21, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_19-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (53, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_19-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (45, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_19-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (30, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_2-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (35, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_2-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (72, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_2-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (62, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_2-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (30, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_2-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (49, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_20-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (34, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_20-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (63, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_20-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (50, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_20-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (123, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_20-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (96, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_21-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (51, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_21-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (59, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_21-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (40, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_21-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (38, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_21-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (52, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_21-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (28, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_21-6.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (33, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_22-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (18, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_22-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (54, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_22-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (45, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_22-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (53, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_22-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (75, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_22-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (50, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_23-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (46, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_23-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (24, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_23-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (58, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_23-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (49, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_23-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (50, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_23-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (58, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_24-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (42, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_24-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (44, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_24-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (41, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_24-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (52, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_24-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (85, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_24-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (42, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_3-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (49, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_3-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (67, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_3-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (63, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_3-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (59, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_3-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (13, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_4-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (71, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_4-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (39, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_4-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (51, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_4-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (37, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_4-4.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (75, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_4-5.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (52, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_5-0.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (53, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_5-1.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (55, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_5-2.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (58, 8)
Successfully created dataframe for 37_degrees_series 37_degrees_series_5-3.txt Folder    zainab_almatroodi
Name: 59, dtype: object with shape (36, 8)

In [94]:
df.groupby('filepath').agg('sum')

                                         start          stop      duration
filepath
D:/02_batch_2/37_degrees_series/  1.100569e+06  1.126571e+06  26002.161790
D:/02_batch_2/abdullah_Alabdli/   1.065524e+05  1.159934e+05   9441.028707

### Video Clipping

In [78]:
temp = df.iloc[0,5]
my_clip = mp.AudioFileClip(os.path.join(path, temp))
clip = my_clip.subclip(df.iloc[0,2],df.iloc[0,3])
clip.write_audiofile(r"D:\nf\audio\temp.mp3")

MoviePy - Writing audio in D:\nf\audio\temp.mp3

MoviePy - Done.

#### Directory Structure

In [ ]:
def list_files(startpath):
    for root, dirs, files in os.walk(startpath):
        level = root.replace(startpath, '').count(os.sep)
        indent = ' ' * 4 * (level)
        print('{}{}/'.format(indent, os.path.basename(root)))
        subindent = ' ' * 4 * (level + 1)
        for f in files:
            print('{}{}'.format(subindent, f))

In [ ]:
list_files(r"D:\02_batch_2")